.container{
    background-color: #ebebeb;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.test{
    background-color: blue;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
